@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --blue-dark-color: #1B3C5A;
    --blue-medium-color:#2970CA;
    --blue-light:#D5E3FF;
    --green-light-color:#C4EDB2;
    --coral-color:#FAC0BD;
    --dark-color:#191919;
    --white-color:#FFFFFF;
    --aleo-font: "Aleo", serif;
    --poppins-font: "Poppins", sans-serif;
    --opensans-font:"Open Sans",sans-serif;
    --Degrade-nav-menu-color: linear-gradient(180deg, rgba(7, 36, 62, 0.9) 32.33%, rgba(42, 95, 145, 0.9) 92.71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--poppins-font);
}

main{
    display: grid;
}

.banner_Donacion{
    background: linear-gradient(90deg, rgba(53, 166, 204, 0.27) 0%, rgba(53, 166, 204, 0.03) 100%), url(../../assets/img/donacion/img_banner_pc.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0;
    color: var(--white-color);
    padding: 10px 5px;
    min-height: 122px;
    width: 100%;
    position: relative;
}

.banner_Donacion h3 , .banner_Donacion h2 ,.banner_Donacion h1{
    font-style: normal;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
}

.banner_Donacion h3{
    font-size: 16px;
    top:30px;
    left:19px
}

.banner_Donacion h2{
    font-size: 20px;
    top: 48px;
    left: 19px;
}

.banner_Donacion h1{
    font-size: 34px;
    top: 65px;
}

.title_information{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: var(--blue-medium-color);
    margin: 10px auto;
}

.information{
    width:90%;
    margin: auto;
    display: grid;
    place-items: center;
}

.information img{
    width: 100%;
    max-width: 262.68px;
    border-radius: 15px;   
    margin: 5px auto 5px; 
}

.information__text{
    width: 100%;
    text-align: justify;
    font-family: var(--opensans-font);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: var(--dark-color);
    display: grid;
    place-items: center;
}

.information__text h4{
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: var(--blue-medium-color);
    margin: 5px auto;
}

.data_text{
    display: grid;
    place-items: center;
    margin: 0 auto 10px;
}

.buttons{
    border: 2px dashed var(--blue-medium-color);
    border-left: none;
    border-right: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 1em;
    width: 95%;
    margin: auto;
    padding: 10px 0;
    margin-bottom: 15px;
}

.buttons button {
    padding: 3px;
    text-align: center;
    width: 87px;
    height: 38px;
    font-size:10px;
    font-weight:400;
    font-family: var(--opensans-font);
    background-color: var(--blue-medium-color);
    border-radius: 10px;
    border: none;
}

.buttons .button_active{
    background-color: var(--blue-dark-color);
}

.buttons a{
    color: var(--white-color);
}

.galerry_doneco{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    row-gap: 50px;
    margin: 20px 0;
    position: relative;
}

.Container_Doneco__nine{
    grid-column: 1/3;
}

.background_footprints_one{
    position:absolute;
    left: 7px;
    top: 35px;
}

.background_footprints_two{
    position:absolute;
    left:143px;
    top: 85px;
}

.background_footprints_three{
    position:absolute;
    right:11px;
    top: 45px;
}

.background_footprints_four{
    position:absolute;
    left:118px;
    top: 135px;
    z-index: 1;
}

.background_footprints_five{
    position:absolute;
    right: 90px;
    top: 555px;
    z-index: 1;
}

.background_footprints_six{
    position:absolute;
    left:94px;
    top: 580px;
    z-index: 1;
}

.background_footprints_seven{
    position:absolute;
    right:122px;
    top: 175px;
    z-index: 1;
}

.background_footprints_eight{
    position:absolute;
    left:13px;
    top: 305px;
    z-index: 1;
}

.background_footprints_nine, .background_footprints_ten, .background_footprints_eleven,.background_footprints_twelve{
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    top: 1px;
}

.background_footprints_twelve{
    width: 320px;
}

.Container_Doneco{
    position: relative;
}

.Card_Doneco{
    outline: 16px solid var(--blue-light);
    width: 75.5px;
    border-radius: 50%;
}

.Card_Doneco__text{
    width: 78.3px;
}

.Card_Doneco__text__donar{
    width:73.43px;
    position: absolute;
    top: -19px;
    left: 3px;
}

.Card_Doneco__text__value{
    width:78.28px;
    position: absolute;
    top: 63px;
}

@media screen and (min-width:768px){
    .banner_Donacion{
        min-height: 283px;
    }

    .banner_Donacion h3{
        font-size: 32px;
        top:80px;
        left:64.66px
    }

    .banner_Donacion h2{
        font-size: 40px;
        top: 110px;
        left: 68.73px;
    }

    .banner_Donacion h1{
        font-size: 71px;
        top: 139px;
        left: 30px;
    }

    .title_information{
        font-size: 21px;
        margin: 20px auto 10px;
    }

    .information{
        width:90%;
        grid-template-areas:"img textgeneral"
        "datatext datatext";
        grid-template-columns: 1fr 1fr;
    }

    .img_information{
        grid-area: img;
    }

    .information img{
        max-width: 312px;
        border-radius: 10px;   
        margin: 5px auto 5px; 
    }

    .information__text{
        font-size: 14px;
        grid-row: 1/3;
        line-height : 19px;
    }

    .information__text h4{
        font-size: 21px;
        margin: 10px auto;
    }

    .general_text{
        grid-area: textgeneral;
    }

    .data_text{
        grid-area:datatext;
        margin-bottom: 20px;
    }

    .buttons button {
        width: 175px;
        height: 31px;
        font-size:14px;
    }

    .galerry_doneco{
        grid-template-columns: repeat(3,1fr);
        row-gap: 90px;
        margin: 50px 0;
    }

    .Container_Doneco__nine{
        grid-column: 3;
    }

    .background_footprints_one, .background_footprints_two, .background_footprints_three, .background_footprints_four,.background_footprints_five,.background_footprints_six,.background_footprints_seven,.background_footprints_eight
    {
        visibility: hidden;
    }

    .background_footprints_nine{
        visibility: visible;
        z-index: 1;
        top:60px;
        left: 6px;
    } 
    .background_footprints_ten{
        visibility: visible;
        top:0px;
        left: 186px;
    }
    .background_footprints_eleven{
        visibility: visible;
        width: 335px;
        z-index: 1;
        top:25px;
        right: 0px;
    }
    
    .background_footprints_twelve{
        visibility: visible;
        width:478.78px;
        top: 257px;
        right: 13px;
    }

    .Card_Doneco{
        outline: 24.6px solid var(--blue-light);
        width: 120.1px;
    }

    .Container_Doneco__text{
        width: 121.19px;
    }

    .Card_Doneco__text__donar{
        width:110.45px;
        top: -28px;
        left: 7px;
    }

    .Card_Doneco__text__value{
        width:113.45px;
        top: 100px;
        left: 4px;
    }
}

@media screen and (min-width:1024px){
    .banner_Donacion{
        min-height: 390px;
    }

    .banner_Donacion h3{
        font-size: 43.3px;
        top:120px;
        left:94.66px
    }

    .banner_Donacion h2{
        font-size: 54.2px;
        top: 165px;
        left: 98.73px;
    }

    .banner_Donacion h1{
        font-size: 97.5px;
        top: 205px;
        left: 50px;
    }

    .title_information{
        font-size: 27.1px;
        margin: 30px auto 20px;
    }

    .information{
        width:95%;
        grid-template-areas:"img textgeneral"
        "img datatext";
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
    }

    .img_information{
        grid-area: img;
    }

    .information img{
        max-width:600px;
        border-radius: 10px;   
        margin: 5px auto; 
    }

    .information__text{
        font-size: 16px;
        grid-row: 1/3;
        line-height : 21px;
    }

    .information__text h4{
        font-size:18px;
        margin: 10px auto;
    }

    .general_text{
        grid-area: textgeneral;
    }

    .data_text{
        grid-area:datatext;
        margin-bottom: 20px;
    }

    .buttons button {
        width: 233px;
        height: 31px;
        font-size:16px;
    }

    .background_footprints_one, .background_footprints_two, .background_footprints_three, .background_footprints_four,.background_footprints_five,.background_footprints_six,.background_footprints_seven,.background_footprints_eight
    {
        visibility: hidden;
    }

    .background_footprints_nine{
        visibility: visible;
        z-index: 1;
        top:90px;
        left: 18px;
        height: 600px;
    } 
    .background_footprints_ten{
        visibility: visible;
        height: 660px;
        top: 36px;
        left: 258px;
    }
    .background_footprints_eleven{
        visibility: visible;
        width: 335px;
        z-index: 1;
        top:25px;
        right: 0px;
    }
    
    .background_footprints_twelve{
        visibility: visible;
        width:478.78px;
        top: 257px;
        right: 13px;
    }

    .Card_Doneco{
        outline: 33.9px solid var(--blue-light);
        width:165.2px;
    }

    .Container_Doneco__text{
        width: 121.19px;
    }

    .Card_Doneco__text__donar{
        width:144.45px;
        top: -37px;
        left: 13px;
    }

    .Card_Doneco__text__value{
        width:147.45px;
        top: 140px;
        left: 8px;
    }
}

@media screen and (min-width:1200px){

}
